body {
  width:100%;
  background-color:#c6e0b4;
  margin:0px;
}
section {
  width:80%;
  margin: auto;
}
main {
  display:flex;
  justify-content: space-between;
  width:100%;
}
h1 {
  color: #1e4f12;
  font-size:3em;
  text-shadow: 1px 1px white;
  margin-top: 20px;
}
#insertion {
  width:45%;
}
#boiteProchainCafe {
  width:45%;
}
#contenuBoiteProchainCafe {
  width:50%;
  text-align:center;
  background-color : #548235;
  color: white;
  padding-top:15px;
  padding-bottom:15px;
  font-size:1.5em;
}
#p1affichageProchainCafe {
  font-size:1.5em;
  text-decoration:underline;
}
th {
  background-color:#70ad47;
}
tr {
  padding-top:10px;
  padding-bottom:10px;
  width:100%;
}
td {
  padding-left:15px;
  line-height:2;
  border-bottom: 1px solid #70ad47;
  width:50%;
}
table {
  border-collapse: collapse;
  width:100%;
  background-color: white;
  margin-bottom:20px;
}
input {
  margin-right:10px;
}
.zoneSaisie {
  width:70%;
}
.boutonValider {
  width:35%;
  border-radius:20px;
  background-color: #548235;
  color: white;
  border: none;
  font-size: 1em;
}
.boutonPlus {
  width:10%;
  border-radius:50%;
  background-color: #548235;
  color: white;
  border: none;
  font-size: 1em;
}
.zoneBouton {
  padding-top : 25px;
  display:flex;
  justify-content:space-between;
  width:70%;
  margin:auto;
}
dialog {
  width:50%;
  height:50%;
  border: none;
  border-radius:15px;
  text-align:center;
  font-size:1.2em;
}
dialog::backdrop {
  background-color : rgba(0,0,0,0.5);
}
.petitEcran {
  display:none;
}
@media screen and (max-width: 1200px) {

  h1 {
    font-size:2.3em;
  }
  .vendredi {
    display:none;
  }
  #boiteProchainCafe {
    position:-webkit-sticky;
    position:sticky;
    top:0;
  }
  section {
    width: 90%;
  }
  main {
    display:flex;
    flex-direction:column-reverse;
  }
  #insertion {
    width:100%;
  }
  table {
    font-size:0.9em;
  }
  .colonne1 {
    width:55%;
  }
  .colonne2 {
    width:45%;
  }
  .grandEcran {
    display:none;
  }
  .petitEcran {
    display:contents;
  }
  .inscriptionPetitEcran {
  width:95%;
  border-radius:20px;
  background-color: #548235;
  color: white;
  border: none;
  font-size: 1em;
  padding-bottom:5px;
  padding-top:5px;
  }
  dialog {
    width:90%;
    font-size:2em;
  }
  .chargement input {
    font-size:40px;
    margin-right:0px;
  }
  input:focus, textarea:focus {
    font-size:40px;
  }
  .zoneBouton .boutonValider {
    height:50px;
    width : 48%;
  }
  .zoneBouton {
    width:95%;
  }
  td {
    line-height:3;
  }
  #boiteProchainCafe {
    width:100%;
  }
  #contenuBoiteProchainCafe {
    width:100%;
    font-size:1.8em;
  }
  #p1affichageProchainCafe, #affichageProchainCafe {
    font-size:1.2em;
    padding-left:10px;
    margin-top:15px;
    margin-bottom:20px;
  }

  
}
